<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title|title }}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="create_block">
            <form class="form_message_create" method="post">
                <h1>{{title|title}}</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Создать">
                <br>
            </form>
        </div>
        <div class="old_message">
            {% for message in all_messages %}
                <div class="message">
                    <div class="message_data">{{ message.created }}</div>
                    <div class="message_text">
                        <div class="text_body">
                            {{ message.text }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>